<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}

  <div class="wrapper">
    <div class="units-row">
      <div lass="unit-100">
        <p><a href="/vita.pdf"><em>Curriculum Vitae</em></a><a href="/vita.pdf" class="badge badge-small"><i class="fa fa-file-pdf-o"></i>&nbsp;&nbsp;pdf</a></p>
        <p>Much of my research has been about exchange in human blood and organs, cultural goods, software, and ideas. My current work focuses on the moral order of market society, the effect of models and measurement on social classification, and the link between those two topics, especially in the consumer credit market. I'm also interested in techniques and methods for data visualization.</p>
      </div>
    </div>
  </div>  
  <div class="wrapper">
    <div class="units-row">
      <div class="unit-50">
        <h2>Articles and Book Chapters</h2>
          {{ range (where .Data.Pages "Type" "published").GroupByDate "2006" "desc" }}
          <div class="units-row">
            <div class="unit-10">
              <h3>{{ .Key }}</h3>
            </div>
            <div class="unit-90">
              <ul class="compact fa-ul">
	        {{ range .Pages.ByDate.Reverse }}
                <li><i class="fa-li fa  {{ if eq .Type "unpublished" }}fa-file-o {{ else if eq .Params.kind "book" }}fa-book {{ else }}fa-file {{ end }} fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i> {{ .Params.citation | safeHTML }}
                  <a href="{{ .Permalink }}" class="badge badge-small">Abstract</a>
                  {{ if isset .Params "file" }}
                  <a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}" class="badge badge-small"><i class="fa fa-file-pdf-o"></i>&nbsp;pdf</a>
                  {{ end }}
                </li>
	        {{ end }}
              </ul>              
            </div>	
          </div>
          {{ end }}
        </div>

      <div class="unit-50">
        <h2>Working Papers</h2>
          {{ range (where .Data.Pages "Type" "unpublished").GroupByDate "2006" "desc" }}
          <div class="units-row">
            <div class="unit-10">
              <h3>{{ .Key }}</h3>
            </div>
            <div class="unit-90">
              <ul class="compact fa-ul">
	        {{ range .Pages.ByDate.Reverse }}
                <li><i class="fa-li fa fa-file-o fa-fw" style="color:#03396c;font-size:80%;padding-top:6px;"></i> {{ .Params.citation | safeHTML }} 
                  <a href="{{ .Permalink }}" class="badge badge-small">Abstract</a>
                  {{ if isset .Params "file" }}
                  <a href="{{.Site.BaseURL}}files/papers/{{ .Params.file }}" class="badge badge-small"><i class="fa fa-file-pdf-o"></i>&nbsp;pdf</a>
                  {{ end }}
                </li>
	        {{ end }}
              </ul>              
            </div>	
          </div>
          {{ end }}


</body>
</html>
